<div class="modal fade" id="createAuthorModal" tabindex="-1" role="dialog" aria-labelledby="createAuthorModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createAuthorModalLabel">Create new author</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="authorForm">
        <div class="modal-body">
          <div class="form-group row"
               [ngClass]="{'has-danger':!authorForm.controls['firstName'].valid, 'has-success':authorForm.controls['firstName'].valid}">
            <label for="authorFirstName" class="col-3 col-form-label">First Name</label>
            <div class="col-9">
              <input [formControl]="authorForm.controls['firstName']"
                     [ngClass]="{'form-control-danger':!authorForm.controls['firstName'].valid, 'form-control-success':authorForm.controls['firstName'].valid}"
                     type="text" class="form-control" id="authorFirstName" name="authorFirstName" placeholder="Enter first name">
              <small *ngIf="authorForm.controls['firstName'].hasError('required')" class="form-text text-muted">First name is required</small>
              <small *ngIf="authorForm.controls['firstName'].hasError('maxLength')" class="form-text text-muted">The max length is 50</small>
            </div>
          </div>
          <div class="form-group row"
               [ngClass]="{'has-danger':!authorForm.controls['lastName'].valid, 'has-success':authorForm.controls['lastName'].valid}">
            <label for="authorLastName" class="col-3 col-form-label">Last Name</label>
            <div class="col-9">
              <input [formControl]="authorForm.controls['lastName']"
                     [ngClass]="{'form-control-danger':!authorForm.controls['lastName'].valid, 'form-control-success':authorForm.controls['lastName'].valid}"
                     type="text" class="form-control" id="authorLastName" name="authorLastName" placeholder="Enter last name">
              <small *ngIf="authorForm.controls['lastName'].hasError('required')" class="form-text text-muted">Last name is required</small>
              <small *ngIf="authorForm.controls['lastName'].hasError('maxLength')" class="form-text text-muted">The max length is 50</small>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            (click)="cleanForm()"
            type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button
            (click) = "submitForm(authorForm.value)"
            [disabled]="!authorForm.valid" type="button" class="btn btn-primary">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
